<div class="col">
    <div class="card bg-light">
        <div class="card-body">
            <img src="{{ product.image }}"
                class="card-img-top mx-auto d-block object-fit-contain border rounded"
                style="height: 20rem">
            <p class="card-text">{{ product.title }}</p>
            <a href="/products/{{ product.id }}" class="stretched-link"></a>
            <h5 class="card-title">
                <div class="d-flex justify-content-between">
                    ${{ "%.2f" | format(product.price) }}
                    <span>
                        {{ product.rating }}<i class="fa-solid fa-star" style="color: #ffed29;"></i>
                    </span>
                </div>
            </h5>
        </div>
    </div>

    {% if g.user and product.get_product_quantity(g.user) %}
    <div class="d-flex justify-content-evenly align-items-center my-2">
        <button class="btn btn-outline-danger decrement" data-id="{{ product.id }}" data-func="updateCart"
            data-role="decrement">
            <i class="fa-solid fa-minus"></i>
        </button>

        <small><span id="qty-{{ product.id }}">{{ product.get_product_quantity(g.user) }} </span> in cart</small>

        <button class="btn btn-outline-success increment" data-id="{{ product.id }}" data-func="updateCart"
            data-role="increment">
            <i class="fa-solid fa-plus"></i></button>
    </div>
    {% else %}
    <form action="/cart" class="d-grid mx-auto my-2 add-to-cart" data-id="{{ product.id }}" method="post">
        <button class="btn btn-outline-dark">Add to cart</button>
    </form>
    {% endif %}

    <form action="/favorites" class="d-grid mx-auto my-2 add-to-favorites" data-id="{{ product.id }}"
        method="post" data-instructions="post">
        {% if product in g.user.favorites %}
        <button class="btn btn-outline-success disabled">Already in your favorites!</button>
        {% else %}
        <button class="btn btn-outline-dark">Add to favorites</button>
        {% endif %}
    </form>
</div>