{% extends "base.html" %}

{% block title %}{% if category %} {{ category }} {% else %} Products {% endif %}{% endblock %}

{% block content %}

{% if category %}
<div class="row mt-3">
    <div class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ category }}
                </ol>
            </h1>
        </nav>
    </div>
</div>
{% else %}
<div class="row mt-3">
    <div class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </h1>
        </nav>
    </div>
</div>
{% endif %}


<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in products %}

    <div class="col-sm-3">

        <div class="card my-3">
            <div class="card-body">

                <img src="{{ product.image }}" class="card-img-top" style="width:100%; height:auto">

                <p class="card-text">{{ product.title }}</p>

                <a href="/products/{{ product.id }}" class="stretched-link"></a>

                <h5 class="card-title">
                    <div class="d-flex justify-content-between">
                        ${{ "%.2f" | format(product.price) }}
                        <span>
                            {{ product.rating }}<i class="fa-solid fa-star" style="color: #ffed29;"></i>
                        </span>
                    </div>
                </h5>

            </div>
        </div>

        <form action="/cart" class="d-grid mx-4 my-2 add-to-cart" data-id="{{ product.id }}" method="post">
            {% if product in g.user.cart %}
            <button class="btn btn-success disabled">Already in cart!</button>
            {% else %}
            <button class="btn btn-outline-dark">Add to cart</button>
            {% endif %}
        </form>

        <form action="/favorites" class="d-grid mx-4 my-2 add-to-favorites" data-id="{{ product.id }}" method="post">
            {% if product in g.user.favorites %}
            <button class="btn btn-outline-success disabled">Already in your favorites!</button>
            {% else %}
            <button class="btn btn-outline-dark">Add to favorites</button>
            {% endif %}
        </form>
    </div>

    {%endfor%}
</div>

{% endblock %}