{% extends "base.html" %}

{% block title %}
{{ user.get_full_name() }}
{% endblock %}

{% block content %}
<div class="row">
    <h1>Your Cart</h1>
</div>
<div class="row">
    <ul>
        {% for product in products %}
        <div class="row m-3">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span style="cursor: pointer;">
                        <i class="fa-solid fa-xmark me-4 remove-from-cart" data-id="{{ product.id }}"
                            data-price="{{ product.price }}"></i>
                    </span>
                    <img src="{{product.image}}" style="height:100px;">
                    <small class="mx-5">{{product.title}}</small>
                </div>
                <div>
                    {% with price = "%.2f" | format(product.price) %}
                    <small><span id="qty-{{ product.id }}" data-id="{{ product.id }}"
                            data-price="{{ product.price }}">{{ product.get_product_quantity(g.user) }}</span> x ${{ price }}</small>
                    <b>${{ "%.2f" | format(product.get_product_quantity(g.user) | int * price | float) }}</b>
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
    <div class="row">
        <h2>Total: <span id="total" data-sum="{{ total }}">{{ "$%.2f" | format(total) }}</span></h2>
    </div>

</div>
{% endblock %}