{% extends "base.html" %}

{% block title %}Your Favorites{% endblock %}

{% block content %}
<div class="row">
    <h1>Your favorited items</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for product in favorites %}
    <div class="col-sm-3">

        <div class="card my-3">
            <div class="card-body">

                <img src="{{ product.image }}" class="card-img-top" style="width:100%; height:auto">

                <p class="card-text">{{ product.title }}</p>

                <a href="/products/{{ product.id }}" class="stretched-link"></a>

                <h5 class="card-title">
                    <div class="d-flex justify-content-between">
                        ${{ "%.2f" | format(product.price) }}
                        <span>
                            {{ product.rating }}<i class="fa-solid fa-star" style="color: #ffed29;"></i>
                        </span>
                    </div>
                </h5>

            </div>
        </div>

        <form action="/cart" class="d-grid mx-4 my-2 add-to-cart" data-id="{{ product.id }}" method="post">
            {% if product in g.user.cart %}
            <button class="btn btn-success disabled">Already in cart!</button>
            {% else %}
            <button class="btn btn-outline-dark">Add to cart</button>
            {% endif %}
        </form>

        <form action="/favorites/delete" class="d-grid mx-4 my-2 remove-from-favorites" data-id="{{ product.id }}" method="delete">
            <button class="btn btn-outline-danger">Remove from favorites</button>
        </form>

    </div>
    {% endfor %}
</div>
{% endblock %}