<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for page_num in products.iter_pages() %}
        {% if products.page == page_num %}
        <li class="page-item disabled">
            <a href="{{ url_for('show_all_products', page=page_num) }}" class="page-link">{{
                page_num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a href="{{ url_for('show_all_products', page=page_num) }}" class="page-link">
                {{ page_num}}
            </a>
        </li>
        {% endif %}
        {%endfor%}
    </ul>
</nav>