<div class="dropdown">
    <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-sort"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li>
            <h6 class="dropdown-header">Sort by</h6>
        </li>
        <li><a class="dropdown-item" href="{{ url_for('show_all_products', sort_by='A-Z') }}">A-Z</a></li>
        <li><a class="dropdown-item" href="{{ url_for('show_all_products', sort_by='Z-A') }}">Z-A</a></li>
        <li><a class="dropdown-item" href="{{ url_for('show_all_products', sort_by='H-L') }}">Price High to Low </a></li>
        <li><a class="dropdown-item" href="{{ url_for('show_all_products', sort_by='L-H') }}">Price Low to High </a></li>
    </ul>
</div>