<div class="dropdown">
    <button class="btn btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-sort"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li>
            <h6 class="dropdown-header">Sort by</h6>
        </li>

        {% for option in dropdown_options %}
            {% if category %}
                {% if option == sort_by %}
                    <li><a class="dropdown-item active" href="{{ url_for('show_products_by_category', category=category, sort_by=option) }}">{{ option }}</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{{ url_for('show_products_by_category', category=category, sort_by=option) }}">{{ option }}</a></li>
                {% endif %}
            {% else %}
                {% if option == sort_by %}
                    <li><a class="dropdown-item active" href="{{ url_for('show_all_products', sort_by=option) }}">{{ option }}</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{{ url_for('show_all_products', sort_by=option) }}">{{ option }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

    </ul>
</div>